/* Reset and base styles * {

  * {
    box-sizing: border-box;

    box-sizing: border-box;
  }

}

#root {

  #root {
    margin: 0;

    margin: 0;
    padding: 0;

    padding: 0;
    min-height: 100vh;

    min-height: 100vh;
  }

}

html,

html,
body {
  body {

    margin: 0;
    margin: 0;

    padding: 0;
    padding: 0;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',

      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',

      sans-serif;
    sans-serif;

    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;

    -moz-osx-font-smoothing: grayscale;
    -moz-osx-font-smoothing: grayscale;

    background-color: #f8fafc;
    background-color: #f8fafc;

  }
} */